*.DS_Store
*.bundle
*.swp
*.directory
*~
*.sqlite3
*.log
*.#*
*._*
*/config/*.yml*
daemons/*/config/*.yml*
!common/config/*.yml.*
*/tmp/
*/log/
*/public/assets/*
*/public/cache/*
*/public/templates/*
*/public/templates_test/*
*/db/*.sqlite?
*.bundle
*.so
screenlog.*
TAGS
*.tgz
\#*\#
_*
.netrwhist
rick/.vim/pack/**
rick/.vim/bundle/vim-gh-line/
