[user]
	name = Rick Cobb
	email = rick.cobb@grandrounds.com
[color]
	ui = true
[core]
	# Not unwinding this at the moment, though if we need a different
	# .gitignore in homer, we could rename back to .gitignore_global
	excludesfile = /Users/rick.cobb/.gitignore
[push]
	default = simple
	autoSetupRemote = true
[pull]
	default = simple
[url "git@github.com:ConsultingMD/"]
	insteadOf = https://github.com/ConsultingMD/
[init]
	templateDir = /Users/rick.cobb/.ih/git-template
