[user]
	name = Rick Cobb
	email = rick.cobb@grandrounds.com
[color]
	ui = true
[core]
	excludesfile = /Users/rick.cobb/.gitignore_global
[push]
	default = simple
[pull]
	default = simple
[url "git@github.com:ConsultingMD/"]
	insteadOf = https://github.com/ConsultingMD/
[init]
	templateDir = /Users/rick.cobb/.ih/git-template
