#github-cli 2.12.1
buf 1.50.0
gcloud 457.0.0
golang 1.25.7
golangci-lint 2.1.6
gomigrate 4.17.0
helm 3.20.0
istioctl 1.23.0
java openjdk-18.0.2
jq 1.6
kubectl 1.24.13
nodejs 24.14.0
postgres 17.5
pre-commit 4.3.0
protoc 34.0
# for platform-api:
python 3.12.13
#python 3.9.6
ripgrep 13.0.0
ruby 2.7.2
shellcheck 0.8.0
terraform 1.7.0
yq 4.40.4
mkcert 1.4.4
uv 0.8.22
vault 1.8.3
